* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  padding: 1.5rem;
  display: flex;
  gap: 1rem;

}

main .left, main .right {
  height: 100%;
  flex-basis: 50%;
  border-radius: 0.7rem;
}

main .left {
  background-color: #000000;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  position: relative;
}


.left .code, .code pre, .code pre code {
  width: 100%;
  height: 100%;
  margin: 0%;
  border-radius: 0.7rem;
  background-color: #0d0d0d;
}


main .left .review {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background-color: rgb(219, 219, 255);
  color: #000000;
  padding: 0.5rem 2rem;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  border-radius: 0.7rem;
}

main .right{
  background-color: #353434;
  padding: 1rem 2rem;
  
  overflow: auto;
}
  